@import "reset.scss";
@import "nav_bar.scss";
@import "settings.scss";
@import "feed.scss";

main#root {
  width: 350px;
  margin: 2px;
  /*border: 1px solid #4F4F4F;*/
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
