.settings-label{
  display: block;
  font-weight: bold;

  span{
    font-weight: normal;
  }
}

.settings-number{
  width: 40px;
  text-align: center;
}

.settings-percent{
  width: 30px;
  text-align: center;
}
